.dropdown-menu>li>a {outline: none;}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {background-image: none;}

html, body {height: 100%; width: 100%; font-family: 'Fira Sans', Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; font-weight: 300; font-style: normal; color: #272727; letter-spacing: 0.25px;}
body {overflow-x: hidden;}

/* --- TYPOGRAPHY --- */

ul {
    list-style: none;
}

p {
    margin-bottom: 25px;
}

a {
    color: #039be5; 
    text-decoration: underline; 
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
a:focus {color: #039be5;}
a:hover {color: #01334d;}


h1, h2, h3, h4, h5, h6 {
    color: #01334d;
    font-family: "Fira Sans", Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    /*margin: 0;    */
}

h1 {font-size: 48px; margin-bottom: 25px;}
h2 {font-size: 42px;}
h3 {font-size: 36px;}
h4 {font-size: 32px;}
h5 {font-size: 24px;}
h6 {font-size: 21px;}
h6.solid {
    margin: 0;
    height: 60px;
    background: #01334d;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
}
@media (max-width: 1200px) {}
@media (max-width: 768px) {}


.text-white {color: #ffffff !important;}
.text-light-grey {color: #f6f8f9 !important;}
.text-grey {color: #6a808d !important;}
.text-dark-grey {color: #717f87 !important;}
.text-blue {color: #01334d !important;}

.text-default {color: #272727 !important;}
.text-primary {color: #039be5 !important;}
.text-muted {color: #b9c7cf !important;}

.text-lg {font-size: 72px !important; font-weight: 800 !important;}
.text-md {font-size: 36px !important; font-weight: 700 !important;}
.text-sm {font-size: 14px !important; line-height: 21px;}
.text-xs {font-size: 12px !important;}
@media (max-width: 991px) {.text-lg {font-size: 58px !important;}}
@media (max-width: 767px) {.text-lg {font-size: 42px !important;}}

.text-serif {font-family: "Fira Sans", Arial, Helvetica, serif;}
.text-uppercase {text-transform: uppercase;}
.text-notransform {text-transform: none !important;}
.text-nodecoration {text-decoration: none !important;}


.link-minor {
    border-bottom: dashed 1px #039be5;
    font-size: 14px;
    text-decoration: none !important;
}
.link-minor:hover {
    border-bottom-style: solid;
    color: #039be5;
}
@media (max-width: 991px) {.link-minor {font-size: 13px;}}

hr {
    margin: 0;
    border-top: 5px #039be5 solid;
}
hr.wide-grey {
    margin-top: 90px;
    border-top: 50px #f6f8f9 solid;
}
@media (max-width: 991px) {hr.wide-grey {margin-top: 70px;}}
.blue-bg {
    background: #039be5;
    color: #fff;
}

.blue-bg a, .blue-bg h1, .blue-bg h2, .blue-bg h3, .blue-bg h4, .blue-bg h5, .blue-bg h6 {color: #fff;}

/*.blue-border {
    padding-left: 40px;
    border-left: 4px solid #ff0056;
}
@media (max-width: 768px) {
    .blue-border {padding-left: 20px;}
}

.paragraph {
    padding: 90px 0;
    text-align: center;
}
@media (max-width: 1200px) {
    .paragraph {padding: 65px 0;}
}
@media (max-width: 768px) {
    .paragraph {padding: 45px 0;}
}*/

/*b, strong {font-size: 1.1em;}
i.fa {font-size: 14px;}
big i.fa {font-size: 21px; vertical-align: text-bottom;}*/


/* --- BUTTONS --- */ 

.btn { 
    padding: 0 30px;
    border-radius: 3px;
    background: #039be5;
    border: 3px #039be5 solid;
    color: #fff;
    display: inline-block;
    font-family: "Fira Sans", Arial, Helvetica, serif;
    font-size: 18px;
    font-weight: 400;
    height: 50px; 
    line-height: 44px;
    letter-spacing: 0.25;
    vertical-align: top;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    box-shadow: none;
    text-align: center;
    position: relative;
    
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.btn:hover {
    background: #fff;
    color: #039be5;
}

.btn-sm {
    padding: 0 20px;
    border-width: 1px;
    height: 35px; 
    line-height: 33px;
    font-size: 16px;
    font-weight: 300;
}

.btn-gradient {
    padding: 0;
    background: linear-gradient(to top, #0a8ed0, #2cb7fc);
    border: 0;
    height: auto; 
    line-height: 24px;
    white-space: normal;
}
.btn-gradient:hover {background: linear-gradient(to top, #0a8ed0, #2cb7fc);}

    .btn-gradient span {
        margin: 3px;
        padding: 14px 30px;
        display: block;
        background: #fff;
        color: #01334d;
    }
@media (max-width: 1200px) {.btn-gradient span {padding: 14px 15px;}}
@media (min-width: 768px) and (max-width: 1200px) {
    .btn-gradient {max-width: 150px;}
}   
    
.btn-fine {
    padding: 0 100px;
    border: 0;
    font-size: 24px;
    height: 65px; 
    line-height: 65px;
    position: relative;
}
.btn-fine:hover {
    background: #039be5;
    color: #ffffff;
}

    .btn-fine img {
        margin: -52px 0 0 -66px;
        height: 98px;
        width: 132px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 80;
    }
.btn-fine-handler {text-align: center;}

@media (max-width: 767px) {
    .btn-fine {
        padding: 0 20px 0 70px;
        font-size: 21px;
    }
    .btn-fine-handler {text-align: right;}
}

/*.btn-default {background: #ff0056 !important; color: #ffffff !important;}
.btn-default:hover {background: #219bff !important; color: #ffffff !important;}*/

.btn-primary {background: #039be5 !important; border-color: #039be5 !important; color: #ffffff !important;}
.btn-primary:hover {background: #ffffff !important; color: #039be5 !important;}

.btn-info {background: #b2fcff !important; color: #ffffff !important;}
.btn-info:hover {background: #ffffff !important; color: #b2fcff !important;}

.btn-danger {background: #ff0056 !important; color: #ffffff !important;}
.btn-danger:hover {background: #219bff !important; color: #ffffff !important;}

.btn-link {background: transparent !important; border-color: transparent !important; color: #ffffff !important; text-decoration: none !important;}
.btn-link:hover, .btn-link.active {background: transparent !important; border-color: #4fbbf0 !important; color: #ffffff !important;}


/* --- FORMS --- */ 

.form-group {
    margin-bottom: 35px;
    position: relative;
}

label {
    padding-bottom: 7px;
    color: #01334d;
    font-size: 21px;
    font-weight: 400;
}

i.fa.positioned {
    display: block;
    position: absolute;
    top: 60px;
    right: 23px;
    color: #6a808d;
}

input[type="text"], input[type="password"], input[type="email"], textarea, .form-control {
    margin-bottom: 10px;
    padding: 0px 30px;
    background: transparent;
    border-radius: 3px; 
    border: 3px #b9c7cf solid;
    color: #272727;
    font-family: "Fira Sans", Arial, Helvetica, serif; 
    font-size: 24px;
    font-weight: 400;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    box-shadow: none;
    vertical-align: top;
    height: 65px;
}

.form-control::-webkit-input-placeholder {color: #b9c7cf;}
.form-control::-moz-placeholder {color: #b9c7cf;}
.form-control:-moz-placeholder {color: #b9c7cf;}
.form-control:-ms-input-placeholder {color: #b9c7cf;}


select.form-control {
    color: #b9c7cf;
    -webkit-appearance: none;
}

    select.form-control option {
        color: #272727;
}   

form.calc {
    padding: 25px 30px 30px;
    background: #f6f8f9;
}

    form.calc .form-group {
        margin-bottom: 20px;
    }
    
        form.calc input[type="text"], form.calc input[type="password"], form.calc input[type="email"], form.calc textarea, form.calc .form-control {
            padding: 0px 20px; 
            border: 2px #6a808d solid;
            font-size: 16px;
            height: 50px;
        }        
        
            form.calc i.fa.positioned {
                top: 17px;
                right: 20px;
            }
@media (max-width: 767px) {form.calc {padding: 15px 15px 15px;}}

input::-ms-clear {display: none;}

@media (max-width: 768px) {
    input[type="text"], input[type="password"], input[type="email"], textarea, .form-control {
        font-size: 14px;
        height: 50px;
    }
}

/* --- NAV --- */

.nav.nav-justified {
    padding-bottom: 30px;
}

    .nav.nav-justified li a {
        background: transparent;
        border-bottom: 2px #b9c7cf solid;
        color: #b9c7cf;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        white-space: nowrap;
    }
    .nav.nav-justified li a.active, .nav.nav-justified li a:hover {border-bottom-color: #01334d; color: #01334d;}

/* --- OTHER CLASSES --- */ 

.no-margin {margin: 0;}
.no-padding {padding: 0;}
.no-padding-right {padding-right: 0;}
.no-padding-left {padding-left: 0;}
.nowrap {white-space: nowrap;}
.display-inblock {display: inline-block;}
.display-block {display: block;}
.pos-relative {position: relative;}
.full-width {width: 100%;}
.fixed {position: fixed !important;}

@media (max-width: 767px) {
    .xs-no-float {
        float: none !important;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .pull-left-sm {
        float: left;
    }
    .pull-right-sm {
        float: right;
    }
}

.manual-animation {    
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* --- Modal --- 
    
.modal-content {
    border-radius: 0;
    padding: 15px;
}

    .modal-header, .modal-footer {
        border: none;
    }
    
    .modal-body textarea {
        font-size: 16px;
        height: 100px;
        text-transform: none;
    }*/
        
/* --- iCheck plugin Square skin, green --- */

.icheckbox,
.iradio {    
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background: url(../img/icheck.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox {
    background-position: 0 0;
}
    .icheckbox.hover {
        background-position: -34px 0;
    }
    .icheckbox.checked {
        background-position: -68px 0;
    }
    .icheckbox.disabled {
        background-position: -102px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -136px 0;
    }

.iradio {
    background-position: -170px 0;
}
    .iradio.hover {
        background-position: -204px 0;
    }
    .iradio.checked {
        background-position: -238px 0;
    }
    .iradio.disabled {
        background-position: -272px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -306px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox,
    .iradio {
        background-image: url(../img/icheck@2x.png);
        -webkit-background-size: 340px 34px;
        background-size: 340px 34px;
    }
}