/* --- MAIN STYLES --- */

#general-content {
    min-height: 100%;
    padding-top: 120px;
}


.background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    display: inline-block;
    vertical-align: middle;
}
.va-middle-trick {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}


a.logo {
    margin-left: 20px;
    display: block;
}

    a.logo img {
        height: 70px;
    }
    

/* --- HEADER --- */


#header {
    padding: 20px 40px 25px;
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-top: 5px #01334d solid;
    z-index: 100;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #header hr {
        width: 135px;
        position: absolute;
        top: -5px;
        left: 40px;
    }
    
    #header ul.header-menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

        #header ul.header-menu li {
            margin: 0;
            padding: 0;
            display: inline-block;
        }
        
            #header ul.header-menu li span {
                padding: 0 20px;
                color: #b9c7cf;
            }

            #header ul.header-menu li a {
                padding-bottom: 4px;
                border-bottom: 2px transparent solid;
                color: #01334d;
                font-size: 18px;
                text-decoration: none;
            }
            #header ul.header-menu li a:hover, #header ul.header-menu li a.active {border-bottom-color: #039be5;}
        
    #header .header-feedback {
        line-height: 27px;
        text-align: right;
    }
    
        #header .header-feedback a.phone {
            color: #01334d;
            font-size: 36px;
            font-weight: 400;
            text-decoration: none;
        }
        
            #header .header-feedback a.phone span.region-code {
                padding-right: 15px;
                color: #959a9d;
                font-size: 24px;
                font-weight: 300;
            }
         
        
/* --- FOOTER --- */


#footer {
    padding: 20px 40px;
    height: 110px;
    background: #f6f8f9;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
    #footer p.copyright {
        color: #6a808d;
        font-size: 14px;
    }
    
    #footer a.developer-link {
        color: #6a808d;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
    }
    
        #footer a.developer-link img {
            height: 40px;
            padding-right: 20px;
            display: inline-block;
        }
        
        #footer a.developer-link p {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
        }
        
            #footer a.developer-link p span {
                color: #039be5;
                text-decoration: underline;
            }
    
    
/* --- INDEX --- */


#insurance-types {
    width: 100%;
    position: absolute;
    left: 0;
    top: 135px;
    z-index: 90;
}

    #insurance-types a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
    }
    #insurance-types a.active {color: #01334d;}

        #insurance-types a img {
            padding: 18px 0;        
            height: 200px;
        }
        #insurance-types a.active img {padding: 0;    }

        #insurance-types a span {
            margin-top: 15px;
            display: block;
        }
        
.promo {
    margin-top: 115px;
    padding-top: 170px;
    height: 765px;
}

    .promo p {
        margin-bottom: 30px;
        line-height: 36px;
    }
    
.auto-insurance ul.docs {
    margin: 10px 0;
    padding: 0;
}

    .auto-insurance ul.docs li {
        line-height: 36px;
    }
    
        .auto-insurance ul.docs li i.fa {
            padding: 0 10px;
            color: #039be5;
            font-size: 21px;
        }
        
#about {
    height: 600px;
}
#about > .container, #about > .container > .row, #about > .container> .row > div {height: 100%;}  

    #about .banner {    
        padding: 0;
    }
    
        #about .banner li {
            margin-top: 55px;
            color: #6a808d;
            font-size: 52px;
            font-weight: 800;
            line-height: 32px;
            text-align: center;
        }
        
            #about .banner li i {
                font-size: 12px;
                font-weight: 300;
            }





#index .intro {height: 945px;}

    #index .intro .banner {
        padding-bottom: 70px;
    }
    
    
#index .index-expertise {
    padding: 150px 0 100px 0;
    background: #ffffff;
    text-align: center;
}

    #index .index-expertise .project-area .project-area-link {
        display: block;
        text-decoration: none;
    }
    
        #index .index-expertise .project-area .project-area-link i {
            margin-top: 15px;
            margin-bottom: 60px;
            display: inline-block;
            color: #466472;
            font-size: 64px;
        }
        
        #index .index-expertise .project-area .project-area-link img {
            margin-top: 15px;
            margin-bottom: 60px;
            height: 77px;
            display: inline-block;
        }
        
    #index .index-expertise .project-area ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
        #index .index-expertise .project-area ul li {
            margin: 0;
            padding: 0;
        }
        
            #index .index-expertise .project-area ul li a {
                color: #7a929e;
                text-decoration: none;                
            }
            
    #index .index-expertise .btn.btn-lg {
        margin-top: 100px;
    }
    
    
#index blockquote img {
    margin-top: 45px;
    height: 35px;
    width: 115px;
    display: inline-block;
}
