/* --- MAIN STYLES --- */

.gradient-left, .gradient-right {width: 90px;}

a.logo {
    margin-left: 0;
}

/* --- HEADER --- */

#header {
    padding: 20px 20px 25px;
}

    #header hr {
        width: 115px;
        left: 10px;
    }
            
/* --- FOOTER --- */

#footer {
    padding: 20px 20px;    
}

    #footer a.developer-link img {
        padding-right: 10px;
    }
    
/* --- INDEX --- */

#insurance-types {
    top: 135px;
}

    #insurance-types a img {        
        height: 160px;
    }

    #insurance-types a span {
        margin-top: 10px;
    }

#about {
    background-position: 50% 50%;
}

.feedback p a {
    font-size: 18px;
}