/* --- MAIN STYLES --- */

/* --- HEADER --- */

/*#header {
    padding: 15px 20px 0 20px;
}

    #header a.logo img {
        height: 25px;
        width: 39px;
    }*/
    
/* --- FOOTER --- */

/*#footer {
    padding: 20px 0 0 0;
    height: 415px;
    text-align: center;
}
    
    #footer p.copyright {
        margin-top: 30px;
    }*/
    
/* --- SIDEBAR --- */

/*.sidebar {
    padding-right: 60px;
    width: 100%;
    left: -800px;
}*/
    
/* --- INDEX --- */
