/* --- MAIN STYLES --- */

#general-content {
    min-height: 100%;
    padding-top: 120px;
}


.background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 95%;
    display: inline-block;
    vertical-align: middle;
}
.va-middle-trick {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}


.gradient-left, .gradient-right {
    height: 1px;
    width: 90px;
    display: inline-block;
    vertical-align: middle;
}
.gradient-left {background: linear-gradient(to left, #6a808d, #ffffff);}
.gradient-right {background: linear-gradient(to left, #ffffff, #6a808d);}


a.logo {
    margin-left: 20px;
    display: block;
}

    a.logo img {
        height: 70px;
    }
    
    
ul.header-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

    ul.header-menu li {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

        ul.header-menu li span {
            padding: 0 20px;
            color: #b9c7cf;
        }            
        @media (max-width: 1280px) {ul.header-menu li span {padding: 0 10px;}}

        ul.header-menu li a {
            padding-bottom: 4px;
            border-bottom: 2px transparent solid;
            color: #01334d;
            font-size: 18px;
            text-decoration: none;
        }
        ul.header-menu li a:hover, ul.header-menu li a.active {border-bottom-color: #039be5;}
    
    
a.phone {
    color: #01334d;
    text-decoration: none;
}
    

/* --- HEADER --- */


#header {
    padding: 20px 40px 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-top: 5px #01334d solid;
    z-index: 100;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #header hr {
        width: 135px;
        position: absolute;
        top: -5px;
        left: 40px;
    }
        
    #header .header-feedback {
        line-height: 28px;
        text-align: right;
    }
    
        #header .header-feedback a.phone {
            display: block;
            font-size: 36px;
            font-weight: 400;
        }
        
            #header .header-feedback a.phone span.region-code {
                padding-right: 15px;
                color: #959a9d;
                font-size: 24px;
                font-weight: 300;
            }
         
        
/* --- FOOTER --- */


#footer {
    padding: 20px 40px;
    background: #f6f8f9;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
    #footer p.copyright {
        margin: 0;
        color: #6a808d;
        font-size: 14px;
    }
    
    #footer a.developer-link {
        color: #6a808d;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
    }
    
        #footer a.developer-link img {
            height: 40px;
            padding-right: 20px;
            display: inline-block;
        }
        
        #footer a.developer-link p {
            margin: 0;
            display: inline-block;
            vertical-align: middle;
        }
        
            #footer a.developer-link p span {
                color: #039be5;
                text-decoration: underline;
            }
            #footer a.developer-link:hover p span {color: #01334d;}
    
    
/* --- INDEX --- */


#insurance-types {
    width: 100%;
    position: absolute;
    left: 0;
    top: 135px;
    z-index: 90;
}

    #insurance-types a {
        display: block;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
    }
    #insurance-types a.active {color: #01334d;}

        #insurance-types a img {
            padding: 18px 0;        
            height: 200px;
        }
        #insurance-types a.active img {padding: 0;}

        #insurance-types a span {
            margin-top: 15px;
            display: block;
        }
        
.promo {
    margin-top: 115px;
    padding-top: 170px;
    height: 765px;
}

    .promo p {
        margin-bottom: 30px;
        line-height: 36px;
    }
    
.auto-insurance {
    padding: 30px 0 80px;
}
    
    .auto-insurance ul.docs {
        margin: 10px 0;
        padding: 0;
    }

        .auto-insurance ul.docs li {
            margin-left: 10px;
            padding: 5px 0 5px 35px;
            background-image: url(../../img/check.png);
            background-position: 0 8px;
            background-repeat: no-repeat;
            background-size: 20px 15px;
        }

            /*.auto-insurance ul.docs li i.fa {
                padding: 0 10px;
                color: #039be5;
                font-size: 21px;
            }*/
            
    .auto-insurance form.calc .form-heading {
        text-align: center;
    }
            
        .auto-insurance form.calc .form-heading p {
            padding: 0 15px;
            display: inline-block;
            color: #01334d;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        }
        
    .auto-insurance form.calc .btn i.fa {
        padding-left: 15px;
    }
        
#about {
    background-color: #f3f6fb;
    background-position: 18% 50%;
    background-size: auto 100%;
    height: 600px;
}
@media (max-width: 1600px) {#about {background-position: 0 50%;}}
@media (max-width: 1440px) {#about {background-position: -15% 50%;}}
@media (max-width: 1366px) {#about {background-position: -30% 50%;}}
@media (max-width: 1280px) {#about {background-position: -55% 50%;}}
#about > .container, #about > .container > .row, #about > .container> .row > div {height: 100%;}  

    #about .total {    
        padding: 0;
    }
    
        #about .total li {
            margin-top: 55px;
            color: #6a808d;
            font-size: 52px;
            font-weight: 800;
            line-height: 32px;
        }
        
            #about .total li i {
                font-size: 12px;
                font-weight: 300;
                white-space: nowrap;
            }
            
    #about .contacts {
        padding-left: 30px;
    }
    
        #about .contacts li {
            margin-top: 20px;
        }
    
            #about .contacts li i {
                font-size: 14px;
            }

            #about .contacts li a {
                position: relative;
                font-weight: 400;
            }

                #about .contacts li a i.fa {
                    position: absolute;
                    top: 2px;
                    left: -20px;
                    color: #01334d;
                }

#partners {
    padding: 50px 0 70px;
}

    #partners .partner-logo {
        margin-top: 55px;
        display: inline-block;
    }
    
#q-and-a {
    padding: 90px 0;
}

    #q-and-a h5 {
        margin: 10px 0 35px 20px;
    }

    #q-and-a .q-and-a-menu {
        padding: 0;
    }
    
        #q-and-a .q-and-a-menu li {
            margin-top: 5px;
        }
        
    #q-and-a h3 {
        margin-top: 0;
    }
    
    #q-and-a .q-and-a-collapse {
        padding: 0;
        width: 100%;
    }
        
        #q-and-a .q-and-a-collapse li {
            padding: 12px 0 15px;
            width: 100%;
            border-bottom: 1px dotted #4fbbf0;
        }

            #q-and-a .q-and-a-collapse li a {
                padding-right: 30px;
                display: block;
                position: relative;
                font-size: 24px;
                line-height: 28px;
                text-decoration: none;
            }

                #q-and-a .q-and-a-collapse li a i.fa {
                    margin-top: -11px;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    color: #61c6f8;
                }
                
            #q-and-a .q-and-a-collapse li p {
                margin-top: 5px;
            }

.feedback {
    padding: 70px 0 65px;
}
            
    .feedback hr {
        margin: 30px 0 95px;
    }

    .feedback p {
        font-size: 18px;
        line-height: 36px;
    }

        .feedback p a {
            font-size: 24px;
            font-weight: 400;
        }

            .feedback a.phone .region-code {
                color: #6a808d;
                font-size: 27px;
            }
            
.feedback .btn {margin-top: 35px;}