/* --- MAIN STYLES --- */

.gradient-left, .gradient-right {width: 50px;}

/* --- HEADER --- */
            
/* --- FOOTER --- */

/*#footer {
    padding: 30px 20px 0 20px;    
    height: 165px;
}

    #footer a.phone {
        float: right;
    }
    
    #footer p.copyright {
        margin-top: 30px;
    }*/
    
/* --- INDEX --- */

#about {
    background-position: -600% 50%;
}

#q-and-a .q-and-a-collapse li a {
    font-size: 21px;
}