/* --- MAIN STYLES --- */

/* --- HEADER --- */

/*#header {
    padding: 30px 20px 0 20px;
}

    #header a.logo img {
        height: 31px;
        width: 50px;
    }
        
    #header ul.header-menu {
        margin-top: 10px;
    }
    
        #header ul.header-menu li {
            padding: 0 15px;
        }

            #header ul.header-menu li a {
                font-size: 11px;
                line-height: 13px;
            }*/
            
/* --- FOOTER --- */

/*#footer {
    padding: 30px 20px 0 20px;    
    height: 165px;
}

    #footer a.phone {
        float: right;
    }
    
    #footer p.copyright {
        margin-top: 30px;
    }*/
    
/* --- INDEX --- */

