/* --- MAIN STYLES --- */

.banner, .blog-block .bg-lg .banner {width: 65%;}
.blog-block .bg-md .banner {width: 80%;}
.blog-block .bg-sm .banner {width: 90%;}
.contacts .banner {width: 90%;}
    
.map ul li a#map-pin1 {top: 4%; left: 46.0%;}
.map ul li a#map-pin2 {top: 12%; left: 46.05%;}
.map ul li a#map-pin3 {top: 9.5%; left: 52.1%;}
.map ul li a#map-pin4 {top: 30.0%; left: 67.03%;}
.map ul li a#map-pin5 {top: 27.5%; left: 64.4%;}
.map ul li a#map-pin6 {top: 20.5%; left: 71.8%;}
.map ul li a#map-pin7 {top: 13.5%; left: 71.07%;}
.map ul li a#map-pin8 {top: 11.5%; left: 11.4%;}
.map ul li a#map-pin9 {top: 21.8%; left: 10.85%;}
.map ul li a#map-pin10 {top: 65.3%; left: 82.62%;}

/* --- HEADER --- */
            
a.menu-icon {
    display: block;
    float: right;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    z-index: 300;
}

    a.menu-icon i.fa {
        font-size: 18px;
    }
    a.menu-icon i.fa.fa-times {
        font-size: 24px;
    }
            
/* --- FOOTER --- */

#footer {
    padding: 30px 0 0 0;    
    height: 165px;
}

    #footer a.phone {
        margin-left: 0;
        float: right;
    }
    
    #footer p.copyright {
        margin-top: 30px;
    }
    
    #footer ul.social {
        margin: 18px -10px 0 0;
        float: right;
    }
    
/* --- SIDEBAR --- */

.sidebar {
    min-height: 100%;
    height: 100%;
    width: 285px;
    position: fixed;
    top: 0;
    left: -285px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    z-index: 200;
}

.sidebar.slid {            
    left: 0;
}

    .sidebar .inner-sidebar {
        min-height: 100%;
        height: 100%;
        background-color: rgba(33, 155, 255, 0.96);    
    }

        .sidebar .inner-sidebar .logo {
            margin-top: 60px;
            display: inline-block;
        }
        
            .sidebar .inner-sidebar .logo img{
                height: 31px;
                width: 50px;
            }

        .sidebar .inner-sidebar ul {
            padding: 0;
            margin: 50px 0 0 0;
            list-style: none;
        }

            .sidebar .inner-sidebar ul li {
                padding: 0;
                margin: 20px 0 0 0;
            }

                .sidebar .inner-sidebar ul li a {
                    padding-bottom: 5px;
                    border-bottom: 2px transparent solid;
                    color: #ffffff;
                    font-family:  "Montserrat", Arial, sans-serif;
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    text-transform: uppercase;
                }            
                .sidebar .inner-sidebar ul li a:hover {
                    border-bottom-color: #ff0056;
                }
    
/* --- CASE --- */

#case .intro .banner {width: 80%;}